$main-bg: #181e21;
$main-color: #efdf9a;

$txt-main-color: #bababa;
$txt-second-color: #5c6062;
$txt-white: #fff;

$btn-main-color: $main-color;
$btn-second-color: #f78b7c;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 50px;
$header-shrink-height: 70px;

$box-shadow: rgba(255 , 255, 255, 0.4) 0px 6px 20px;

$mobile-width: 600px;
$tablet-width: 1024px;

// button color
$colors: (
  "red" :#ff00004d,
  "main": $btn-main-color,
  "pink": $btn-second-color,
)